:root {
	color-scheme: light dark;
}

#error-message {
	color: darkred;
}
#projects details {
	
	margin-block-end: 1rem;
	
	summary {
		display: grid;
		grid-template-columns: 1fr min-content;
		
		h3 {
			margin: 0;
		}
		
		a {
			text-decoration: none;
		}
		
		progress {
			grid-column: 1 / -1;
			width: 100%;
			height: 1.5rem;
		}
	}
	
	summary::after {
		content: '↓';
		font-size: smaller;
		text-align: center;
		cursor: pointer;
	}
	&:open summary::after {
		content: '↑';
	}
}

footer {
	font-size: smaller;
	text-align: center;
	margin-block-start: 1rem;
}
